@page "/endgame/{result}"

<div style="text-align: center;">
	<label>Game Over</label>
	<h1 style="margin:0;">@Result</h1>
	<div style="padding: 10px 0;">
		<a role="button" href="/play">New Game</a>
	</div>
</div>