@page "/"
<div style="text-align: center; padding: 20px 0;">
    <div>
        <small>Now running in .NET 8</small>
    </div>
    <a role="button" style="width: 200px" href="play">Start Game</a>
</div>
